<robot
  name="rokae2">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.02477 8.8316E-06 0.080676"
        rpy="0 0 0" />
      <mass
        value="5.925" />
      <inertia
        ixx="0"
        ixy="0"
        ixz="0"
        iyy="0"
        iyz="0"
        izz="0" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rokae2/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rokae2/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>